<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ZombicideApp">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="content/bootstrap.min.css" />
    <link rel="stylesheet" href="content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="content/style.css" />
</head>
<body>
    <div class="container">
        <div ng-controller="DeckController as deckCtrl">
            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" ng-click="deckCtrl.spawnCard()">Spawn</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-click="deckCtrl.undo()">Undo</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-click="deckCtrl.shuffle()">Shuffle</button>
                </div>
            </div>
            <div class="form-group">
                <select class="form-control" ng-model="deckCtrl.dangerLevel">
                    <option value="blue">Blue</option>
                    <option value="yellow">Yellow</option>
                    <option value="orange">Orange</option>
                    <option value="red">Red</option>
                </select>
            </div>

            <div class="row card card-{{spawn.card.species}}"
                 ng-repeat="spawn in deckCtrl.spawns | limitTo: 15"
                 ng-class="{ 'spawn-manhole': spawn.card.manhole }">
                <div class=" col-xs-12">
                    <div class="row spawn spawn-{{spawn.dangerLevel}} spawn-{{spawn.spawn.type}}">
                        <div class="spawn-flavor">
                            <div class="card-number"><span>{{spawn.card.number}}</span></div>
                            <span class="h1">{{spawn.card.species}} {{spawn.spawn.type}}</span>                            
                        </div>
                        <div class="spawn-value" ng-class="{ 'spawn-extraactivation': spawn.spawn.extraActivation, 'spawn-x': spawn.spawn.value }">
                            <span class="h1">{{spawn.spawn.value}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="scripts/jquery-1.9.1.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="app/zombicide-app.js"></script>
    <script>

    </script>
</body>
</html>
